<% if user_signed_in? && @user == current_user %>
    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>サイトトップ</title>
        <%= stylesheet_link_tag 'show1', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <!-- サイトトップボタン -->
        <button class="siteTopButton" onclick="location.href='/courses/siteTop.html'">サイトトップ</button>
        <!-- 掲示板ボタン -->
        <button class="postButton" onclick="location.href='/posts'">掲示板</button>
        <!-- ログアウトボタン -->
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "signOutButton" %>
        <div class="textRecommendRoute">
        
        </div>
        <div class="divcenter">
        <div class="recommendRoute2">
            <% @history.each_slice(3) do |slice| %>
              <% slice.each_with_index do |t, index| %>
                <% data = t.history.split(',') %>
                
                <% if data.length == 4 then %>
                  
                 
                  <br>
                  <div class="container4">
                    <div class="item departure"><%= data[0] %></div>
                    <div class="item transportation1"><%= data[1] %></div>
                    <div class="item arrow1">→</div>
                    <div class="item time1"><%= data[2] %></div>
                    <div class="item destination"><%= data[3] %></div>
                    <div class="item none"></div>
                  </div>
                  <br>

                <% elsif data.length == 7 then %>
                  
                  <br>
                  <div class="container7">
                    <div class="item none"></div>

                    <div class="item departure"><%= data[0] %></div>
                    <div class="item transportation1"><%= data[1] %></div>
                    <div class="item arrow1">→</div>
                    <div class="item time1"><%= data[2] %></div>
                    <div class="item waypoint1"><%= data[3] %></div>

                    <div class="item arrow2">→</div>
                    <div class="item transportation2"><%= data[4] %></div>
                    <div class="item time2"><%= data[5] %></div>
                    <div class="item destination"><%= data[6] %></div>
                  </div>
                  <br>

                <% elsif data.length == 10 then %>
                
                  <br>
                  <div class="container10">
                    <div class="item none"></div>

                    <div class="item departure"><%= data[0] %></div>
                    <div class="item transportation1"><%= data[1] %></div>
                    <div class="item arrow1">→</div>
                    <div class="item time1"><%= data[2] %></div>
                    <div class="item waypoint1"><%= data[3] %></div>

                    <div class="item arrow2">→</div>
                    <div class="item transportation2"><%= data[4] %></div>
                    <div class="item time2"><%= data[5] %></div>
                    <div class="item waypoint2"><%= data[6] %></div>

                    <div class="item arrow3">→</div>
                    <div class="item transportation3"><%= data[7] %></div>
                    <div class="item time3"><%= data[8] %></div>
                    <div class="item destination"><%= data[9] %></div>
                  </div>
                  <br>

                <% end %>
              <% end %>
            <% end %>
        </div>
        <!-- 経路検索ボタン -->
        <button class="searchButton" onclick="location.href='/courses/new'">経路検索</button>
        </div>
    </body>
    </html>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>