<html>
	<head>
		<title>Route Map</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	</head>
	<body>
		<div>
			<% @courses.each do |t| %>
				<div class="startdestination">
					<%= t.start %>
					<%= t.destination %>
				</div>
			<% end %>
		</div>
			<span>{{ test[0].start }}</span>
			<%# <span>{{ item.destination }}</span> %>
		<div id="map" style="width: 100vw; height: 80vh;"></div>
	</body>
</html>
<script>
function initMap() {

  var target = document.getElementById('map'); //マップを表示する要素を指定
  var address = "大阪駅"; //住所を指定
	var start = "<%= @test[-1].start %>";
	var destination = "<%= @test[-1].destination %>";
	const mar = [];
  var geocoder = new google.maps.Geocoder();
	var marker = [];

  geocoder.geocode({ address: start }, function(results, status){
    if (status === 'OK' && results[0]){
			const markers = {
				"name": start,
				"lat": results[0].geometry.location.lat(),
				"lng": results[0].geometry.location.lng()
			};
			mar.push(markers);
    }else{
      //住所が存在しない場合の処理
      alert('住所が正しくないか存在しません。');
      target.style.display='none';
    }
  });
	geocoder.geocode({ address: destination }, function(results, status){
		if (status === 'OK' && results[0]){
		const markerd = {
			"name": destination,
			"lat": results[0].geometry.location.lat(),
			"lng": results[0].geometry.location.lng()
		};
		mar.push(markerd)
		}else{
			//住所が存在しない場合の処理
			alert('住所が正しくないか存在しません。');
			target.style.display='none';
		}
		var map = new google.maps.Map(target, {
			center: new google.maps.LatLng(38, -78),
			zoom: 15
		});
		// マーカー毎の処理
		for (var i = 0; i < mar.length; i++) {
			markerLatLng = new google.maps.LatLng({lat: mar[i]['lat'], lng: mar[i]['lng']}); // 緯度経度のデータ作成
			marker[i] = new google.maps.Marker({ // マーカーの追加
				position: markerLatLng, // マーカーを立てる位置を指定
				map: map // マーカーを立てる地図を指定
			});
		}
	});
}
</script>

<script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap"></script>