<%= form_for @course do |f| %>
  <%= stylesheet_link_tag "new", :media => "all" %>
    <div class="field">
      <%= f.label :start ,style: "display: none;" %>
      <%= f.text_field:start, placeholder:'出発地'%>
      <%= f.select :transportation, options_for_select([["徒歩", "walking"], ["自動車", "driving"], ["電車", "train"]]), { include_blank: false } ,id: "transportation"%>
      <br>

      <!-- 新しいカラム transportation_origin の値を格納する隠しフィールド -->
      <%= f.hidden_field :transportation_origin, id: 'transportation_origin_hidden' %>
  
      
      <!-- 経由地の入力欄 -->
      <div id="waypoints_fields" >
        <%= f.label :waypoint ,style: "display: none;" %>
        <%= f.text_field :waypoints, placeholder: "経由地", style: "display: none;" %>
      </div>

      <%= button_tag "➕", type: "button", id: "add_waypoint" %>
      <br>

      <%= f.label :destination, style: "display: none;"%>
      <%= f.text_field :destination, placeholder:'目的地'%>
      <br>
      </div>
  <%= f.submit "経路検索" ,id: "search_route"%>
  
    <br>
  </div>
<% end %>
<%= link_to "Route一覧に戻る", courses_index_path %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var waypointsFields = document.getElementById('waypoints_fields');
    var addWaypointButton = document.getElementById('add_waypoint');
    var form = document.querySelector('form');

  addWaypointButton.addEventListener('click', function() {
    var newInput = document.createElement('input');
    newInput.type = 'text';
    newInput.name = 'waypoints';
    newInput.placeholder = '経由地';
    waypointsFields.appendChild(newInput);

      // 一意の名前を持つ新しいselect要素を作成
      var newSelect = document.createElement('select');
      var selectName = 'transportation_' + (waypointsFields.children.length / 2); // 子要素の数に基づいて名前を調整
      newSelect.name = selectName;

      var options = [["徒歩", "walking"], ["自動車", "driving"], ["電車", "train"]];
      options.forEach(function(option) {
        var optionElement = document.createElement('option');
        optionElement.value = option[1];
        optionElement.text = option[0];
        newSelect.appendChild(optionElement);
      });

      waypointsFields.appendChild(newSelect);
    });

    form.addEventListener('submit', function(e) {
      e.preventDefault();

      // 経由地の入力値を取得
      var waypointInputs = waypointsFields.querySelectorAll('input[name="waypoints"]');
      var waypointsValue = Array.from(waypointInputs).map(function(input) {
        return input.value;
      }).join(',');

      // 移動手段の選択値を取得
      var transportationSelects = waypointsFields.querySelectorAll('select[name^="transportation"]');
      var transportationValue = Array.from(transportationSelects).map(function(select) {
        return select.value;
      }).join(',');

      // 新しいカラム transportation_origin の値を隠しフィールドに設定
      var transportationOriginHiddenField = document.getElementById('transportation_origin_hidden');
      if (transportationOriginHiddenField) {
        transportationOriginHiddenField.value = document.querySelector('select[name="course[transportation_origin]"]').value;
      } else {
        console.error('Transportation Origin hidden field not found');
      }

      // 以下の行を追加し、フォームに隠しフィールドを追加
      var transportationHiddenField = document.createElement('input');
      transportationHiddenField.type = 'hidden';
      transportationHiddenField.name = 'course[transportation]';
      transportationHiddenField.value = transportationValue;
      form.appendChild(transportationHiddenField);

      var waypointsHiddenField = document.querySelector('input[name="course[waypoints]"]');

      if (waypointsHiddenField) {
        waypointsHiddenField.value = waypointsValue;
      } else {
        console.error('Waypoints hidden field not found');
      }

      form.submit();
    });
  });
</script>
